<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="./css/styles.css">
          <title>Help</title>
          <link rel="icon" href="/images/sun.png">
</head>

<body>
          <div class="main-content">
          {{>header}}
          <h2>For any question email me : <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=debajyotishee@gmail.com">{{email}}</a></h2>
          </div>

          {{>footer}}
</body>

</html>